{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://comprehend.amazonaws.com/"
        },
        {
            "url": "http://comprehend.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Comprehend",
        "version": "2017-11-27",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "comprehend"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/comprehend/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. ",
                "operationId": "BatchDetectDominantLanguage",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ErrorList": {
                                            "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.",
                                            "items": {
                                                "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The numeric error code of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ResultList": {
                                            "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.",
                                            "items": {
                                                "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
                                                "properties": {
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    },
                                                    "Languages": {
                                                        "description": "One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.",
                                                        "items": {
                                                            "description": "Returns the code for the dominant language in the input text and the level of confidence that Amazon Comprehend has in the accuracy of the detection.",
                                                            "properties": {
                                                                "LanguageCode": {
                                                                    "description": "The RFC 5646 language code for the dominant language. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Score": {
                                                                    "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "ResultList",
                                        "ErrorList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "BatchSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "TextList": {
                                        "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "TextList"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDetectEntities": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> ",
                "operationId": "BatchDetectEntities",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ErrorList": {
                                            "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.",
                                            "items": {
                                                "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The numeric error code of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ResultList": {
                                            "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.",
                                            "items": {
                                                "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
                                                "properties": {
                                                    "Entities": {
                                                        "description": "One or more <a>Entity</a> objects, one for each entity detected in the document.",
                                                        "items": {
                                                            "description": "<p>Provides information about an entity. </p> <p> </p>",
                                                            "properties": {
                                                                "BeginOffset": {
                                                                    "description": "A character offset in the input text that shows where the entity begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.",
                                                                    "type": "integer"
                                                                },
                                                                "EndOffset": {
                                                                    "description": "A character offset in the input text that shows where the entity ends. The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point. ",
                                                                    "type": "integer"
                                                                },
                                                                "Score": {
                                                                    "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Text": {
                                                                    "description": "The text of the entity.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Type": {
                                                                    "description": "The entity's type.",
                                                                    "enum": [
                                                                        "PERSON",
                                                                        "LOCATION",
                                                                        "ORGANIZATION",
                                                                        "COMMERCIAL_ITEM",
                                                                        "EVENT",
                                                                        "DATE",
                                                                        "QUANTITY",
                                                                        "TITLE",
                                                                        "OTHER"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "ResultList",
                                        "ErrorList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BatchSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "LanguageCode": {
                                        "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language.",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    },
                                    "TextList": {
                                        "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "TextList",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDetectKeyPhrases": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Detects the key noun phrases found in a batch of documents.",
                "operationId": "BatchDetectKeyPhrases",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ErrorList": {
                                            "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.",
                                            "items": {
                                                "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The numeric error code of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ResultList": {
                                            "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.",
                                            "items": {
                                                "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
                                                "properties": {
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    },
                                                    "KeyPhrases": {
                                                        "description": "One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.",
                                                        "items": {
                                                            "description": "Describes a key noun phrase.",
                                                            "properties": {
                                                                "BeginOffset": {
                                                                    "description": "A character offset in the input text that shows where the key phrase begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.",
                                                                    "type": "integer"
                                                                },
                                                                "EndOffset": {
                                                                    "description": "A character offset in the input text where the key phrase ends. The offset returns the position of each UTF-8 code point in the string. A <code>code point</code> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.",
                                                                    "type": "integer"
                                                                },
                                                                "Score": {
                                                                    "description": "The level of confidence that Amazon Comprehend has in the accuracy of the detection.",
                                                                    "format": "float",
                                                                    "type": "number"
                                                                },
                                                                "Text": {
                                                                    "description": "The text of a key noun phrase.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "ResultList",
                                        "ErrorList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BatchSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "LanguageCode": {
                                        "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language.",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    },
                                    "TextList": {
                                        "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "TextList",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDetectSentiment": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.",
                "operationId": "BatchDetectSentiment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ErrorList": {
                                            "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.",
                                            "items": {
                                                "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The numeric error code of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ResultList": {
                                            "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.",
                                            "items": {
                                                "description": "The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.",
                                                "properties": {
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    },
                                                    "Sentiment": {
                                                        "description": "The sentiment detected in the document.",
                                                        "enum": [
                                                            "POSITIVE",
                                                            "NEGATIVE",
                                                            "NEUTRAL",
                                                            "MIXED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "SentimentScore": {
                                                        "description": "The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.",
                                                        "properties": {
                                                            "Mixed": {
                                                                "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>MIXED</code> sentiment.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Negative": {
                                                                "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEGATIVE</code> sentiment.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Neutral": {
                                                                "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEUTRAL</code> sentiment.",
                                                                "format": "float",
                                                                "type": "number"
                                                            },
                                                            "Positive": {
                                                                "description": "The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>POSITIVE</code> sentiment.",
                                                                "format": "float",
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "ResultList",
                                        "ErrorList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BatchSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "LanguageCode": {
                                        "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language.",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    },
                                    "TextList": {
                                        "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "TextList",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#BatchDetectSyntax": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.",
                "operationId": "BatchDetectSyntax",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ErrorList": {
                                            "description": "A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.",
                                            "items": {
                                                "description": "Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The numeric error code of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ErrorMessage": {
                                                        "description": "A text description of the error.",
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "ResultList": {
                                            "description": "A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.",
                                            "items": {
                                                "description": "The result of calling the operation. The operation returns one object that is successfully processed by the operation.",
                                                "properties": {
                                                    "Index": {
                                                        "description": "The zero-based index of the document in the input list.",
                                                        "type": "integer"
                                                    },
                                                    "SyntaxTokens": {
                                                        "description": "The syntax tokens for the words in the document, one token for each word.",
                                                        "items": {
                                                            "description": "Represents a work in the input text that was recognized and assigned a part of speech. There is one syntax token record for each word in the source text.",
                                                            "properties": {
                                                                "BeginOffset": {
                                                                    "description": "The zero-based offset from the beginning of the source text to the first character in the word.",
                                                                    "type": "integer"
                                                                },
                                                                "EndOffset": {
                                                                    "description": "The zero-based offset from the beginning of the source text to the last character in the word.",
                                                                    "type": "integer"
                                                                },
                                                                "PartOfSpeech": {
                                                                    "description": "Provides the part of speech label and the confidence level that Amazon Comprehend has that the part of speech was correctly identified. For more information, see <a>how-syntax</a>.",
                                                                    "properties": {
                                                                        "Score": {
                                                                            "description": "The confidence that Amazon Comprehend has that the part of speech was correctly identified.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        },
                                                                        "Tag": {
                                                                            "description": "Identifies the part of speech that the token represents.",
                                                                            "enum": [
                                                                                "ADJ",
                                                                                "ADP",
                                                                                "ADV",
                                                                                "AUX",
                                                                                "CONJ",
                                                                                "CCONJ",
                                                                                "DET",
                                                                                "INTJ",
                                                                                "NOUN",
                                                                                "NUM",
                                                                                "O",
                                                                                "PART",
                                                                                "PRON",
                                                                                "PROPN",
                                                                                "PUNCT",
                                                                                "SCONJ",
                                                                                "SYM",
                                                                                "VERB"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "Text": {
                                                                    "description": "The word that was recognized in the source text.",
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "TokenId": {
                                                                    "description": "A unique identifier for a token.",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "ResultList",
                                        "ErrorList"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "BatchSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "LanguageCode": {
                                        "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language.",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    },
                                    "TextList": {
                                        "description": "A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.",
                                        "items": {
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "TextList",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateDocumentClassifier": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new document classifier that you can use to categorize documents. To create a classifier you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.",
                "operationId": "CreateDocumentClassifier",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "DocumentClassifierArn": {
                                            "description": "The Amazon Resource Name (ARN) that identifies the document classifier.",
                                            "maxLength": 256,
                                            "pattern": "arn:aws:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClientRequestToken": {
                                        "description": "A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9-]+$",
                                        "type": "string"
                                    },
                                    "DataAccessRoleArn": {
                                        "description": "The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.",
                                        "maxLength": 2048,
                                        "minLength": 20,
                                        "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
                                        "type": "string"
                                    },
                                    "DocumentClassifierName": {
                                        "description": "The name of the document classifier.",
                                        "maxLength": 63,
                                        "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*",
                                        "type": "string"
                                    },
                                    "InputDataConfig": {
                                        "description": "Specifies the format and location of the input data for the job.",
                                        "properties": {
                                            "S3Uri": {
                                                "description": "<p>The Amazon S3 URI for the input data. The S3 bucket must be in the same region as the API endpoint that you are calling. The URI can point to a single input file or it can provide the prefix for a collection of input files.</p> <p>For example, if you use the URI <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend uses that file as input. If more than one file begins with the prefix, Amazon Comprehend uses all of them as input.</p>",
                                                "maxLength": 1024,
                                                "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "S3Uri"
                                        ],
                                        "type": "object"
                                    },
                                    "LanguageCode": {
                                        "description": "The language of the input documents. You can specify English (\"en\") or Spanish (\"es\"). All documents must be in the same language.",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "DocumentClassifierName",
                                    "DataAccessRoleArn",
                                    "InputDataConfig",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateEntityRecognizer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. ",
                "operationId": "CreateEntityRecognizer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "EntityRecognizerArn": {
                                            "description": "The Amazon Resource Name (ARN) that identifies the entity recognizer.",
                                            "maxLength": 256,
                                            "pattern": "arn:aws:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:entity-recognizer/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "UnsupportedLanguageException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ClientRequestToken": {
                                        "description": " A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9-]+$",
                                        "type": "string"
                                    },
                                    "DataAccessRoleArn": {
                                        "description": "The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.",
                                        "maxLength": 2048,
                                        "minLength": 20,
                                        "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
                                        "type": "string"
                                    },
                                    "InputDataConfig": {
                                        "description": "Specifies the format and location of the input data. The S3 bucket containing the input data must be located in the same region as the entity recognizer being created. ",
                                        "properties": {
                                            "Annotations": {
                                                "description": "S3 location of the annotations file for an entity recognizer.",
                                                "properties": {
                                                    "S3Uri": {
                                                        "description": " Specifies the Amazon S3 location where the annotations for an entity recognizer are located. The URI must be in the same region as the API endpoint that you are calling.",
                                                        "maxLength": 1024,
                                                        "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "S3Uri"
                                                ],
                                                "type": "object"
                                            },
                                            "Documents": {
                                                "description": "S3 location of the documents folder for an entity recognizer",
                                                "properties": {
                                                    "S3Uri": {
                                                        "description": " Specifies the Amazon S3 location where the training documents for an entity recognizer are located. The URI must be in the same region as the API endpoint that you are calling.",
                                                        "maxLength": 1024,
                                                        "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "S3Uri"
                                                ],
                                                "type": "object"
                                            },
                                            "EntityList": {
                                                "description": "S3 location of the entity list for an entity recognizer.",
                                                "properties": {
                                                    "S3Uri": {
                                                        "description": "Specifies the Amazon S3 location where the entity list is located. The URI must be in the same region as the API endpoint that you are calling.",
                                                        "maxLength": 1024,
                                                        "pattern": "s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?",
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "S3Uri"
                                                ],
                                                "type": "object"
                                            },
                                            "EntityTypes": {
                                                "description": "The entity types in the input data for an entity recognizer.",
                                                "items": {
                                                    "description": "Information about an individual item on a list of entity types.",
                                                    "properties": {
                                                        "Type": {
                                                            "description": "Entity type of an item on an entity type list.",
                                                            "maxLength": 64,
                                                            "pattern": "[_A-Z0-9]+",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Type"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "required": [
                                            "EntityTypes",
                                            "Documents"
                                        ],
                                        "type": "object"
                                    },
                                    "LanguageCode": {
                                        "description": " The language of the input documents. All documents must be in the same language. Only English (\"en\") is currently supported. ",
                                        "enum": [
                                            "en",
                                            "es",
                                            "fr",
                                            "de",
                                            "it",
                                            "pt"
                                        ],
                                        "type": "string"
                                    },
                                    "RecognizerName": {
                                        "description": "The name given to the newly created recognizer. Recognizer names can be a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The name must be unique in the account/region.",
                                        "maxLength": 63,
                                        "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "RecognizerName",
                                    "DataAccessRoleArn",
                                    "InputDataConfig",
                                    "LanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteDocumentClassifier": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>",
                "operationId": "DeleteDocumentClassifier",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
[...]
